/* This file is required for Pliant widget in the mobile app */

.wrapper {
/*   height: 216px; */
/* /*   border-radius: 25px; */
  border: 2px solid transparent;
  background-image: url("https://nshaposhnik.github.io/card-background-flipped@4x.png");
  background-color: #70CDC9;
  background-size: cover;
  background-repeat: no-repeat;
/*   width: 100%;
  height: 0;
  padding-top: 58.469%; /* (img-height / img-width * container-width) */ */
                /* (853 / 1280 * 100) */
}

.pliant-pci-widget {
  background: none;
}

.pliant-preloaded-data-overlay {
  background: none;
}
