/* This file is required for Pliant widget in the mobile app */

.wrapper {
  width: 200px;
  height: 516px;
  background: rgb(34,193,195);
  border-radius: 25px;
  border: 2px solid red;
  background-image: url("https://github.com/nshaposhnik/nshaposhnik.github.io/blob/main/card-background%404x.png")
}

.pliant-pci-widget {
  background: none;
}

.pliant-preloaded-data-overlay {
  background: none;
}
